﻿@model Common.Utilities.PagedList<Common.ViewModels.ProductModel>

<h2>List of products</h2>
@if (Model != null && Model.Any())
{

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>

                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <a href="#" id="add-to-cart" onclick="addToCart(@item.ID)">Add to Cart</a>
                        if (HttpContext.Current.User.IsInRole("Admin"))
                        {
                            <span>|</span>
                            @Html.ActionLink("Edit", "Edit", new {id = item.ID})
                            <span>|</span>
                            @Html.ActionLink("Details", "Details", new {id = item.ID})
                            <span>|</span>
                            @Html.ActionLink("Delete", "Delete", new {id = item.ID})
                        }
                    }
                </td>
            </tr>
        }

    </table>

    if (Model.HasPrevious)
    {
        <p>
            @Html.ActionLink("Prev", "Index", new
            {
                pageNumber = Model.CurrentPage - 1,
                pageSize = Model.PageSize
            })
        </p>
    }

    if (Model.HasNext)
    {
        <p>
            @Html.ActionLink("Next", "Index", new
           {
               pageNo = Model.CurrentPage + 1,
               pageSize = Model.PageSize
           })
        </p>
    }
}
else
{
    <h1>No records found</h1>
}

<script src="~/Scripts/cart-script.js"></script>
