﻿@model Common.ViewModels.CartModel

<h2>Your cart</h2>

@if (Model.Items != null && Model.Items.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Description)
            </th>
            <th>
                @Html.Label("Quantity:")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Items)
        {
            <tr class="product-row" data-id="@item.ID">
                <td>
                    @Html.ActionLink(@Html.DisplayFor(modelItem => item.Name).ToString(), "Details","Product" , new { id = item.ID }, "")
                </td>
                <td>
                    <p class="price" data-id="@item.ID" data-price="@item.Price">@item.Price</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <p class="quantity" data-id="@item.ID" data-quantity="@item.Quantity">@item.Quantity</p>
                </td>
                <td>
                    <a href="#" onclick="increaseQuantity(@item.ID)">+1</a> |
                    <a href="#" onclick="decreaseQuantity(@item.ID)">-1</a> |
                    <a href="#" onclick="deleteFromCart(@item.ID)">Delete</a>
                </td>
            </tr>
        }
    </table>
    <hr/>
    <a href="#" onclick="clearCart()">Clear</a>
    <hr/>
    <form method="POST" action="@Url.Action("SubmitOrder", "Cart")">  
        <div class="form-group">
            <label for="customerName">Your name</label>
            <br/>
            <p>@HttpContext.Current.User.Identity.Name</p>
        </div>
        <h3>Total : <span id="total-tag">@Model.GetTotal()</span> $</h3>
        <button type="submit">Place Order</button>
    </form>


    <script src="~/Scripts/cart-script.js"></script>
}
else
{
    <h1>Your cart is empty</h1>
}
