﻿@model Common.ViewModels.OrderModel

@{
    ViewBag.Title = "OrderDetails";
}

<h2>Order Details</h2>

<div>
    <h2>@Model.User.UserName, this is your order:</h2>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>

    @if (Model.Products != null && Model.Products.Any())
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Quantity)
                </th>
            </tr>

            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                </tr>
            }

        </table>
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
