﻿@model IEnumerable<Common.ViewModels.OrderModel>

<h2>Your orders</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total) $
        </td>
        <td>
            @Html.ActionLink("Details", "OrderDetails", new { id=item.ID }) 
        </td>
    </tr>
}

</table>
